<?xml version="1.0"?>
<!--
/**
 * SUMOHeavy_GlobalMessage
 *
 * @category   SUMOHeavy
 * @package    SUMOHeavy_GlobalMessage
 * @copyright  Copyright 2013 SUMO Heavy Industries, LLC
 * @author     Sean Kennedy <support@sumoheavy.com>
 */
-->
<config>
    <modules>
        <SUMOHeavy_GlobalMessage>
            <version>1.0.0</version>
        </SUMOHeavy_GlobalMessage>
    </modules>

    <global>
        <blocks>
            <sumoheavy_globalmessage>
                <class>SUMOHeavy_GlobalMessage_Block</class>
            </sumoheavy_globalmessage>
        </blocks>
        <helpers>
            <sumoheavy_globalmessage>
                <class>SUMOHeavy_GlobalMessage_Helper</class>
            </sumoheavy_globalmessage>
        </helpers>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <sumoheavy_globalmessage>
                    <file>sumoheavy/globalmessage.xml</file>
                </sumoheavy_globalmessage>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <sumoheavy_globalmessage>
                    <file>sumoheavy/globalmessage.xml</file>
                </sumoheavy_globalmessage>
            </updates>
        </layout>
    </frontend>

    <default>
        <sumoheavy_globalmessage>
            <globalmessage>
                <enabled>1</enabled>
            </globalmessage>
        </sumoheavy_globalmessage>
    </default>
</config>
